.browser-features {
	text-align: center;
	padding: 105px 0 463px 0;
	background-color: #f6f5f3;
	background: url(../../img/browser.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	.feature-info {
		padding: 0 200px;
	}
}