.footer {
	position: relative;
	padding: 100px 0 95px 0;
	h6 {
		color: #282828;
		font-size: 24px;
	}
}

.footer::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;    
    background: linear-gradient(to right top, rgba(255, 255, 255, 0) 50%, rgba(251, 134, 134, 100) 50%);    
    height: 85%;
    width: 23%;
    z-index: 3;    
}

.footer__logo {
	margin-bottom: 5px;
}

.social {
	margin-top: 15px;
}

 .social__icon {
 	width: 21px;
 	height: 22px;
 	display: inline-block;
 	background-repeat: no-repeat;
 	margin-right: 15px;
 	opacity: .6;
 	margin-right: 22px;
 }

 .social__icon:hover {
 	opacity: 1;
 }

 .social__icon_dribble {
 	background: url(../../img/icon_dribbble_s.png);
 	background-repeat: no-repeat;
 	background-position: center center;
 	margin-left: 50px;
 }
 .social__icon_facebook {
 	background: url(../../img/icon_facebook_s.png);
 	background-repeat: no-repeat;
 	background-position: center center;
 }
 .social__icon_google {
 	background: url(../../img/icon_googleplus_s.png);
 	background-repeat: no-repeat;
 	background-position: center center;
 }
 .social__icon_twitter {
 	background: url(../../img/icon_twitter_s.png);
 	background-repeat: no-repeat;
 	background-position: center center;
 }


 .form-wrapper {
 	position: relative;
 	width: 266px;
 	height: 52px;
 	input {
		// width: 266px;
		height: 48px;
		border: 1px solid grey;
		border-radius: 5px;
		background-color: #f6f6f6;
	}

	input[placeholder] {
		width: 224px;
		text-transform: uppercase;
		padding-left: 29px;
		color: $text-color;
		position: absolute;
	}
	*::-webkit-input-placeholder {
    	color: $text-color;
	}
	*:-moz-placeholder {
    /* FF 4-18 */
    	color: $text-color;
	}
	*::-moz-placeholder {
	    /* FF 19+ */
	    color: $text-color;
	}
	*:-ms-input-placeholder {
	    /* IE 10+ */
	    color: $text-color;
	}

	button[type="submit"] {
		position: absolute;
	    width: 51px;
	    height: 48px;
	    border-radius: 4px;
	    background: #ff6d6d;
	    right: 0;
	    border: none;
	    box-shadow: 0px 2px 5px 0px #c9c9c9;
	}
	button[type="submit"]::after {
		display: block;
		position: absolute;
		content: "";
		width: 51px;
		height: 48px;
		right: 0;
		top: 0;
		background: url(../../img/send.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
 }
 