.new-features {
	padding: 139px 0 170px 0;
	background-image: url(../../img/new-features-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.cool-features {
	margin-top: 40px;
}

.terms__link {
    color: $text-color;
    text-decoration: underline;
}
