.reviews {
	background: url(../img/clients-bg.jpg);
	padding: 110px 0 80px 0;
}


.reviews-item__name {
	margin-top: 35px;
}

.reviews-item__position {
	color: $main-color;
	margin-bottom: 20px;
}

.reviews-item__info {
	color: #b6b6b8;
}

.partners__logo {
	margin-bottom: 20px;
}
