$main-color: #ff6d6d;


// подключаем бутстрап
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// подключаем сброс стилей для всех браузеров
@import "base/_normalize";

// подключаем шрифты
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,400i,500');

@import "block/_action-btn";

@import "block/_header";

@import "block/_play-btn";




* {
	font-family: 'Exo', sans-serif;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow {
    width: 16px;
    height: 37px;
    background-position: -5px -5px;
}

.sprite-icon_dribbble_s {
    width: 20px;
    height: 21px;
    background-position: -31px -5px;
}

.sprite-icon_facebook_s {
    width: 11px;
    height: 21px;
    background-position: -61px -5px;
}

.sprite-icon_googleplus_s {
    width: 20px;
    height: 17px;
    background-position: -31px -36px;
}