$main-color: #ff6d6d;
$text-color: #717171;
$heading-color: #282828;

// подключаем бутстрап
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// подключаем сброс стилей для всех браузеров
@import "base/_normalize";

// подключаем шрифты
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,400i,500');


// малые блоки и кнопки

@import "block/_action-btn";

@import "block/_play-btn";

@import "block/_single-feature";

@import "block/_reviews-item";

@import "block/_contact-form";

@import "block/_footer-links";


// секции в порядке следования сверху вниз

@import "block/_header";

@import "block/_new-design";

@import "block/_feature-info";

@import "block/_new-features";

@import "block/_responsive-design";

@import "block/_reviews";

@import "block/_partners";

@import "block/_browser-features";

@import "block/_contact-us";

@import "block/_footer";








* {
	font-family: 'Exo', sans-serif;
}

p {
    letter-spacing: .04em;
}

// .colored {
//     background-color: #ececec;
//     width: 80%;
//     height: 100%;
// }










.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow {
    width: 16px;
    height: 37px;
    background-position: -5px -5px;
}

.sprite-icon_dribbble_s {
    width: 20px;
    height: 21px;
    background-position: -31px -5px;
}

.sprite-icon_facebook_s {
    width: 11px;
    height: 21px;
    background-position: -61px -5px;
}

.sprite-icon_googleplus_s {
    width: 20px;
    height: 17px;
    background-position: -31px -36px;
}